@model List<Enfermo>

<h1>Enfermos Linq</h1>

<ul class="list-group">
    @foreach (Enfermo enfermo in Model)
    {
        <li class="list-group-item">
            @enfermo.Apellido
            <a asp-controller="Enfermos"
            asp-action="Details"
            asp-route-inscripcion="@enfermo.Inscripcion"
            class="btn btn-dark">
                Details
            </a>
            <a asp-controller="Enfermos"
            asp-action="Delete"
            asp-route-inscripcion="@enfermo.Inscripcion"
            class="btn btn-danger">
                Delete
            </a>
        </li>
    }
</ul>